/* heading section */

h1{
  font-family: Rubik Gemstones;
  color: white;
}

/* font &emphasize section */

font{
  color: white;
}

em{
  color: white;
}

/* images & text section */

img { transform: rotate(-50deg);}

.dog{
  border-radius: 50%;
  transform: rotate(5deg);
}

.testimonial-image{
  transform: rotate(0deg);
}

.text{
  width: 17%;
  transform: rotate(0deg);
  color: gray;
}

/* id section */

#title{
  background-color: red;
}


#features{
  padding-top: 5%;
  padding-bottom: 5%;
}

#testimonials{
  background-color: red;
  padding-top: 20%;
  padding-bottom: 2%;
}

#cta{
  background-color: red;
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}

#footer{
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: center;
}
